.app-footer {
    background: #e91e63;
    color: white;

}

.app-footer section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-footer h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-footer .back {
    flex-grow: 1;
}

.app-footer nav a:not(:last-child) {
    margin-right: 10px;
}

.app-footer section.container>section {
    flex-grow: 1;
}